@use "../../styles/partials/mixins" as *;

.projects {
  @include desktop {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__title {
    font-size: 32px;
    line-height: 22px;
    padding: 24px 0;

    @include desktop {
      font-size: 52px;
      line-height: 32px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include desktop {
      position: relative;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding: 16px 0 0 0;
      gap: 48px;
      row-gap: 48px;
      flex-wrap: wrap;
    }
  }

  &__btn-link {
    text-align: center;
  }

  &__button {
    margin: 24px 0;
    box-shadow: 8px 8px;
    width: 120px;
    padding: 8px 16px;
    cursor: pointer;

    @include desktop {
      align-self: center;
      margin: auto;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 16px;

  @include tablet {
    flex-direction: row;
    max-width: 436px;
    height: auto;
    padding: 24px;
  }

  @include desktop {
  }

  &__header {
    width: 72px;
    overflow: hidden;
    height: 52px;
    margin-top: -20px;
    margin-left: -12px;
  }

  &__img-wrapper {
    order: -1;
    max-width: 300px;

    @include desktop {
      order: 0;
      width: 300px;
      height: 248px;
    }
  }

  &__body {
    @include desktop {
      width: 300px;
      height: 248px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__button {
    border: none;
    padding: 8px 32px;
    border-radius: 16px;
    margin-top: 24px;
    cursor: pointer;

    @include desktop {
      position: absolute;
      bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 16px;
  }
}
