@use "../../styles/partials/mixins" as *;

.projects {
  @include desktop {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__title {
    font-size: 32px;
    line-height: 22px;
    padding: 24px 0;

    @include desktop {
      font-size: 52px;
      line-height: 32px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include tablet {
      position: relative;
      justify-content: center;
      flex-direction: row;
      padding: 16px 0 0 0;
      gap: 24px;
      flex-wrap: wrap;
    }
  }

  &__btn-link {
    text-align: center;
  }

  &__button {
    margin: 24px 0;
    box-shadow: 8px 8px;
    width: 120px;
    padding: 8px 16px;
    cursor: pointer;

    @include desktop {
      align-self: center;
      margin: auto;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 416px;
  max-width: 300px;
  text-align: center;

  &__title {
    padding: 16px;
  }

  &__info {
    padding: 4px 16px 16px 16px;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__button {
    width: 100%;
    padding: 8px 16px;

    @include tablet {
      padding: 12px 24px;
    }
  }

  &__scroller {
    margin-top: 16px;
    min-height: 150px;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__tech-stack {
    display: flex;
    gap: 4px;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__subtitle {
    font-weight: 600;
  }
}

.tech {
  font-size: 11px;
  background-color: #d0d0d0;
  padding: 4px;
  border-radius: 4px;
}
