@use "../../styles/partials/mixins" as *;

.intro {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 50px;
  align-items: center;
  position: relative;

  @include desktop {
    min-height: 85vh;
  }

  &__hero {
    display: none;

    @include desktop {
      display: block;
      flex: 2;
      padding: 80px 0 110px 8rem;
    }
  }

  &__hero-img {
    width: 100%;
    height: auto;
  }

  &__content {
    padding: 24px 16px 48px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include desktop {
      flex: 3;
      padding: 36px 8rem 110px 0;
    }
  }

  &__name-text {
    font-family: "Jenthill";
    font-size: 22px;
    transform: rotate(-5deg) skew(-5deg);
    align-self: start;
    margin-left: 60px;
  }

  &__text {
    font-size: 24px;
    width: 100%;
    text-align: center;
    font-weight: 700;

    @include desktop {
      font-size: 32px;
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;
    padding-top: 24px;
  }

  &__button {
    min-width: 120px;
    box-shadow: 8px 8px;
    padding: 8px;
    align-self: center;
    cursor: pointer;

    @include desktop {
      width: 150px;
      height: 40px;
    }
  }

  &__socials {
    display: flex;
    margin-top: 24px;
    gap: 16px;

    @include desktop {
      position: fixed;
      bottom: 28%;
      left: 16px;
      display: flex;
      flex-direction: column;
      margin-top: 0;
      gap: 8px;
    }
  }
}
