@use "../../styles/partials/mixins" as *;

*,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

a {
  text-decoration: none;
}

.about,
.projects {
  padding: 24px 16px;

  @include desktop {
    padding: 36px 8rem 54px 8rem;
  }
}

.icon {
  width: 32px;
  height: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #da83fc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #da83fc;
}
