@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin crater($top, $left, $size) {
  content: "";
  position: absolute;
  top: $top;
  left: $left;
  width: $size;
  height: $size;
  background-color: #efeeda;
  border-radius: 100%;
  border: 2px solid #dee1c5;
}

@mixin cloudBubble($top, $right, $width, $height, $deg) {
  content: "";
  display: block;
  position: relative;
  top: $top;
  right: $right;
  width: $width;
  height: $height;
  border: 8px solid #d4d4d2;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ($deg);
  background-color: #fff;
}
