body {
  background-color: #ffffff;
  color: #000000;
}

h1 {
  // color: #6200ee;
}

button {
  color: black;
}

button:hover {
  background-color: #f0f0f0;
}

// Header section
.header {
  background-color: #fafca2;
}

// Intro section
.intro {
  background-color: #fafca2;
}

// About section
.about {
  background-color: #6fdcbf;
}

//Projects
.projects {
  background-color: #ad8fdb;
}

//Contact
.contact {
  background-color: #fafca2;
}

//Footer
.footer {
  background-color: #fafca2;
}
