body.light-theme {
  background-color: #ffffff;
  color: #404040;
}

.intro__button,
.projects__button {
  background-color: #ebebeb;
  box-shadow: 8px 8px #404040;
  border: 2px solid #404040;
  color: #404040 !important;
}

.profile {
  background-color: #f7f7f7;
  border: 2px solid #404040;
}

.about {
  background-color: #e5c6f1;
}

.footer {
  background-color: #e5c6f1;
}

.card {
  background: #f7f7f7;
  color: #404040;

  &__button {
    background-color: #da83fc;
    box-shadow: none;
    border: none;
    border-top: 2px solid #404040;
  }
}

.profile {
  box-shadow: 12px 12px #404040;
}

.logo {
  color: #404040;
}

.about {
  &__title {
    color: #404040;
  }
}

.projects {
  &__title {
    color: #404040;
  }
}

.icon {
  fill: #404040;

  &:hover {
    fill: #da83fc;
  }
}

a {
  color: #404040;
}

.card {
  border: 2px solid black;
}
