@use "../../styles/partials/mixins" as *;

.about {
  &__title {
    font-size: 32px;
    line-height: 22px;
    padding: 24px 0;

    @include desktop {
      font-size: 52px;
      line-height: 32px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      gap: 24px;
    }
  }

  &__right {
    order: -1;

    @include desktop {
      order: 0;
      flex: 1;
    }
  }

  &__left {
    @include desktop {
      flex: 1.5;
    }
  }

  &__content {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
  }

  &__content-item {
    list-style: none;
    padding: 8px 0;
    font-size: 20px;
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 48px;
    row-gap: 48px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__cursive-text {
    font-family: "jenthill";
    font-size: 24px;
    padding: 0 6px;
  }
}

.profile {
  max-width: 300px;
  height: auto;
  overflow: hidden;

  @include desktop {
    margin-top: 32px;
    width: 320px;
  }

  &__img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
  }
}

.skills {
  display: flex;
  gap: 24px;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  &__wrapper {
    width: 50px;
  }

  &__icon {
    width: 100%;
    height: 100%;
    cursor: pointer;

    &:hover {
      -webkit-animation: vibrate-1 0.3s linear infinite both;
      animation: vibrate-1 0.3s linear infinite both;
    }
  }
}

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
