@use "../../styles/partials/mixins" as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
  gap: 16px;

  @include desktop {
    padding: 24px 8rem;
  }

  &__socials {
    display: flex;
    gap: 24px;
  }

  &__icon {
    width: 28px;
    cursor: pointer;
  }
}
